<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sourceFile" value="../../../Source/status.xml"/>
    <add key="hostName" value="localhost"/>
    <add key="virtualHost" value="/"/>
    <add key="port" value="5672"/>
    <add key="username" value="guest"/>
    <add key="password" value="guest"/>
  </appSettings>
</configuration>